{% extends "layouts/main.twig" %}

{% block stylesheets %}{% endblock %}
{% block title %}Профиль{% endblock %}
{% block page %}Редактирование профиля{% endblock %}

{% block content %}
    <div class="overflow-hidden bg-white shadow sm:rounded-lg">
        <form class="table" action="/profile/update" method="post">
            <div class="px-4 py-6 sm:px-6">
                <h3 class="text-base font-semibold leading-7 text-gray-900">Информация о пользователе</h3>
                <input type="hidden" name="id" value="{{ user.id }}">
            </div>
            <div class="border-t border-gray-100">
                {% if errors.user %}
                    <span class="error">{{ errors.user }}</span>
                {% endif %}
                <dl class="divide-y divide-gray-100">
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-900">Имя</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                            <input class="pl-1" type="text" name="first_name" value="{{ user.first_name|e }}">
                            {% if errors.first_name %}
                                <span class="error">{{ errors.first_name }}</span>
                            {% endif %}
                        </dd>
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-900">Отчество</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                            <input class="pl-1" type="text" name="last_name" value="{{ user.last_name|e }}">
                            {% if errors.last_name %}
                                <span class="error">{{ errors.last_name }}</span>
                            {% endif %}
                        </dd>
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-900">Email</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                            <input class="pl-1" type="email" name="email" value="{{ user.email|e }}">
                            {% if errors.email %}
                                <span class="error">{{ errors.email }}</span>
                            {% endif %}
                        </dd>
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-900">Логин</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                            <input class="pl-1" type="text" name="login" value="{{ user.login|e }}">
                            {% if errors.login %}
                                <span class="error">{{ errors.login }}</span>
                            {% endif %}
                        </dd>
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-900">Дата добавления</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ user.created_at|e }}</dd>
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-900">Дата обновления</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ user.updated_at|e }}</dd>
                    </div>
                </dl>
            </div>
            <div>
                <input class="cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full
                ml-5 mb-5"
                       type="submit"
                       value="Сохранить изменения">
            </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}

{% endblock %}