{% extends "layouts/main.twig" %}

{% block stylesheets %}
    <style>
        .currentMonthDay {
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block title %}Календарь{% endblock %}
{% block page %}Календарь{% endblock %}

{% block content %}
    <div class="lg:flex lg:h-full lg:flex-col">
        <header class="flex items-center justify-between border-b border-gray-200 px-6 py-4 lg:flex-none">
            <span></span>
            <div class="flex items-center">
                <div class="relative flex items-center rounded-md bg-white shadow-sm md:items-stretch">
                    <button onclick="goPrev()" type="button"
                            class="flex h-9 w-12 items-center justify-center rounded-l-md border-y border-l border-gray-300 pr-1 text-gray-400 hover:text-gray-500 focus:relative md:w-9 md:pr-0 md:hover:bg-gray-200">
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                  d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </button>
                    <button type="button"
                            class="hidden border-y border-gray-300 px-3.5 text-sm font-semibold text-gray-900 hover:bg-gray-200 focus:relative md:block">
                        {{ currentMonth }}
                    </button>
                    <button onclick="goNext()" type="button"
                            class="flex h-9 w-12 items-center justify-center rounded-r-md border-y border-r border-gray-300 pl-1 text-gray-400 hover:text-gray-500 focus:relative md:w-9 md:pl-0 md:hover:bg-gray-200">
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </button>
                </div>
            </div>
        </header>
        <div class="shadow ring-1 ring-black ring-opacity-5 lg:flex lg:flex-auto lg:flex-col">
            <div class="grid grid-cols-7 gap-px border-b border-gray-300 bg-gray-200 text-center text-xs font-semibold leading-6 text-gray-700 lg:flex-none">
                <div class="flex justify-center bg-white py-2">
                    <span>M</span>
                    <span class="sr-only sm:not-sr-only">on</span>
                </div>
                <div class="flex justify-center bg-white py-2">
                    <span>T</span>
                    <span class="sr-only sm:not-sr-only">ue</span>
                </div>
                <div class="flex justify-center bg-white py-2">
                    <span>W</span>
                    <span class="sr-only sm:not-sr-only">ed</span>
                </div>
                <div class="flex justify-center bg-white py-2">
                    <span>T</span>
                    <span class="sr-only sm:not-sr-only">hu</span>
                </div>
                <div class="flex justify-center bg-white py-2">
                    <span>F</span>
                    <span class="sr-only sm:not-sr-only">ri</span>
                </div>
                <div class="flex justify-center bg-white py-2">
                    <span>S</span>
                    <span class="sr-only sm:not-sr-only">at</span>
                </div>
                <div class="flex justify-center bg-white py-2">
                    <span>S</span>
                    <span class="sr-only sm:not-sr-only">un</span>
                </div>
            </div>
            <div class="flex bg-gray-200 text-xs leading-6 text-gray-700 lg:flex-auto">

                <div class="hidden w-full lg:grid lg:grid-cols-7 lg:grid-rows-5 lg:gap-px">
                    {% for day in days %}
                        <a
                                {% if day.isCurrentMonth %}
                                    href="/records/show?date={{ day.value }}"
                                {% endif %}
                                class="relative flex flex-col justify-end {{ day.isCurrentMonth ? 'bg-white' : 'bg-gray-200' }} {{ day.isCurrentMonth ? 'currentMonthDay' : '' }} h-32 px-3 py-2 group"
                        >
                            <time class="absolute top-2 left-2 font-semibold {{ day.value|date('Y-m-d') == "now"|date('Y-m-d') ? 'flex h-6 w-6 items-center justify-center rounded-full bg-indigo-600 text-white' : '' }}"
                                  datetime="{{ day.value }}">
                                {{ day.value|date('j') }}
                            </time>
                            {% if day.records %}
                                {% for record in day.records %}
                                    <p class="truncate font-medium text-gray-900 group-hover:text-indigo-600">{{ record['first_name'] }} {{ record['last_name'] }}</p>
                                    <p class="truncate font-medium text-gray-900">{{ record['note'] }}</p>
                                    {% if record['date'] <= "now"|date('Y-m-d') %}
                                    <img height="24" width="24"
                                                {% if record['status'] == 1 %}
                                                    class="absolute top-2 right-2"
                                                    src="/images/ok.svg"
                                                {% elseif record['status'] == 0 and record['date'] < "now"|date('Y-m-d') %}
                                                    class="absolute top-2 right-2"
                                                    src="/images/shit.svg"
                                                {% else %}
                                                    class="hidden"
                                                {% endif %}
                                         alt="status">
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
                <div class="isolate grid grid-cols-7 grid-rows-5 gap-px lg:hidden">
                    {% for day in days %}
                        <a
                                {% if day.isCurrentMonth %}
                                    href="/records/show?date={{ day.value }}"
                                {% endif %}
                                class="relative flex flex-col justify-end {{ day.isCurrentMonth ? 'bg-white' : 'bg-gray-200' }} {{ day.isCurrentMonth ? 'currentMonthDay' : '' }} h-24 px-3 py-2 group"
                        >
                            <time class="absolute top-2 left-2 font-semibold {{ day.value|date('Y-m-d') == "now"|date('Y-m-d') ? 'flex h-6 w-6 items-center justify-center rounded-full bg-indigo-600 text-white' : '' }}"
                                  datetime="{{ day.value }}">
                                {{ day.value|date('j') }}
                            </time>
                            {% if day.records %}
                                {% for record in day.records %}
                                    <p class="truncate font-s font-medium text-gray-900 group-hover:text-indigo-600">{{ record['first_name'] }} {{ record['last_name'] }}</p>
                                    <p class="truncate font-medium text-gray-900">{{ record['note'] }}</p>
                                    {% if record['date'] < "now"|date('Y-m-d') %}
                                    <img class="absolute top-2 right-2" height="24" width="24"
                                                {% if record['status'] == 1 %}
                                                    src="/images/ok.svg"
                                                {% elseif record['status'] == 0 and record['date'] < "now"|date('Y-m-d') %}
                                                    src="/images/shit.svg"
                                                {% endif %}
                                         alt="status">
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </a>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/js/calendar.js"></script>
{% endblock %}