{% extends "layouts/main.twig" %}

{% block stylesheets %}{% endblock %}
{% block page %}Дежурство на {{ record.date|e }}{% endblock %}

{% block content %}
    <div class="overflow-hidden bg-white shadow sm:rounded-lg mx-auto max-w-2xl">
        <form action="/records/edit" method="post">
            <div class="border-t border-gray-100">
                <dl class="divide-y divide-gray-100">
                    <input class="pl-1 bg-gray-200 hidden" type="text" name="id" value="{{ record.id|e }}" readonly>
                    <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
                        <dt class="text-sm font-medium text-gray-900 align-middle my-3">id пользователя</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                            <div class="relative h-10 w-full min-w-[200px] ">
                                <input type="text" name="user_id" value="{{ record.user_id|e }}"
                                       class="peer h-full w-full rounded-[7px]  !border  !border-gray-300 border-t-transparent
                                       bg-transparent bg-white px-3 py-2.5 font-sans text-sm font-normal text-blue-gray-700
                                       shadow-lg shadow-gray-900/5 outline outline-0 ring-4 ring-transparent transition-all
                                       placeholder:text-gray-500 placeholder-shown:border placeholder-shown:border-blue-gray-200
                                       placeholder-shown:border-t-blue-gray-200 focus:border-2  focus:!border-gray-900
                                       focus:border-t-transparent focus:!border-t-gray-900 focus:outline-0 focus:ring-gray-900/10
                                       disabled:border-0 disabled:bg-blue-gray-50" />
                            </div>
                        </dd>
                    </div>
                    <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-900 my-3">Дата</dt>
                        <dd class="flex mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                            <input class="pl-1 " type="date" name="date" value="{{ record.date }}" readonly>
                        </dd>
                    </div>
                    <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-900 my-3">Продежурил</dt>
                        <div class="relative h-10 w-full min-w-[200px] ">
                            <select id="status" name="status" class="peer h-full w-full rounded-[7px]  !border  !border-gray-300
                   border-t-transparent
                   bg-transparent bg-white px-3 py-2.5 font-sans text-sm font-normal text-blue-gray-700
                   shadow-lg shadow-gray-900/5 outline outline-0 ring-4 ring-transparent transition-all
                   placeholder:text-gray-500 placeholder-shown:border placeholder-shown:border-blue-gray-200
                   placeholder-shown:border-t-blue-gray-200 focus:border-2  focus:!border-gray-900
                   focus:border-t-transparent focus:!border-t-gray-900 focus:outline-0 focus:ring-gray-900/10
                   disabled:border-0 disabled:bg-blue-gray-50">
                                {% for status in statuses %}
                                    <option value="{{ status.value }}" {% if record.status == status.value %} selected
                                            {% endif %}>
                                        {{ status.label }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-900 my-3">Тип</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0 ">
                            <div class="relative h-10 w-full min-w-[200px] ">
                                <input type="text" name="type" value="{{ record.type|e }}"
                                       class="peer h-full w-full rounded-[7px]  !border  !border-gray-300 border-t-transparent
                                       bg-transparent bg-white px-3 py-2.5 font-sans text-sm font-normal text-blue-gray-700
                                       shadow-lg shadow-gray-900/5 outline outline-0 ring-4 ring-transparent transition-all
                                       placeholder:text-gray-500 placeholder-shown:border placeholder-shown:border-blue-gray-200
                                       placeholder-shown:border-t-blue-gray-200 focus:border-2  focus:!border-gray-900
                                       focus:border-t-transparent focus:!border-t-gray-900 focus:outline-0 focus:ring-gray-900/10
                                       disabled:border-0 disabled:bg-blue-gray-50"/>
                            </div>
                        </dd>
                    </div>
                    <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-900 my-3">Комментарий</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                            <div class="relative h-10 w-full min-w-[200px] ">
                                <input type="text" name="note" value="{{ record.note|e }}"
                                       class="peer h-full w-full rounded-[7px]  !border  !border-gray-300 border-t-transparent
                                       bg-transparent bg-white px-3 py-2.5 font-sans text-sm font-normal text-blue-gray-700
                                       shadow-lg shadow-gray-900/5 outline outline-0 ring-4 ring-transparent transition-all
                                       placeholder:text-gray-500 placeholder-shown:border placeholder-shown:border-blue-gray-200
                                       placeholder-shown:border-t-blue-gray-200 focus:border-2  focus:!border-gray-900
                                       focus:border-t-transparent focus:!border-t-gray-900 focus:outline-0 focus:ring-gray-900/10
                                       disabled:border-0 disabled:bg-blue-gray-50"/>
                            </div>
                        </dd>
                    </div>
                </dl>
            </div>
            <div class="flex justify-end">
                <input class="cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full
                m-5 mb-5"
                       type="submit"
                       value='Сохранить'>
            </div>
        </form>
        {% if errors.record %}
            <div class="border-1 border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
                <span>{{ errors.record }}</span>
            </div>
        {% endif %}
    </div>

{% endblock %}
{% block scripts %}

{% endblock %}