{% extends "layouts/main.twig" %}

{% block stylesheets %}{% endblock %}
{% block title %}Пользователи{% endblock %}
{% block page %}Список пользователей{% endblock %}

{% block content %}
    <div class="overflow-hidden bg-white shadow sm:rounded-lg">
        {% if users is not empty %}
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Логин</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Имя</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Фамилия</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
                </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                {% for user in users %}
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <p class="text-sm font-semibold leading-6 text-gray-900">{{ user.login }}</p>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <p class="text-sm font-semibold leading-6 text-gray-900">{{ user.first_name }}</p>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <p class="text-sm font-semibold leading-6 text-gray-900">{{ user.last_name }}</p>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <p class="text-sm leading-5 text-gray-500">{{ user.email }}</p>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <a class="btn-view" href="/users/show/?id={{ user.id }}">Просмотр</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}