{% extends "layouts/main.twig" %}

{% block title %}Пользователи{% endblock %}
{% block page %}Список пользователей{% endblock %}

{% block content %}
    <div class="overflow-hidden bg-white shadow sm:rounded-lg">
        {% if users is not empty %}
            <div class="sm:hidden">
                <!-- Если экран меньше sm (мобильные устройства), скрываем таблицу -->
                <div class="px-4 py-2">
                    {% for user in users %}
                        <div class="mb-4 border-b border-gray-200">
                            <div class="flex justify-between items-center mb-4">
                                <p class="text-sm font-medium text-gray-900">Имя:</p>
                                <p class="text-sm text-gray-500">{{ user.first_name }}</p>
                            </div>
                            <div class="flex justify-between items-center mb-4">
                                <p class="text-sm font-medium text-gray-900">Фамилия:</p>
                                <p class="text-sm text-gray-500">{{ user.last_name }}</p>
                            </div>
                            <div class="flex justify-between items-center mb-4">
                                <p class="text-sm font-medium text-gray-900">Email:</p>
                                <p class="text-sm text-gray-500">{{ user.email }}</p>
                            </div>
                            <div class="flex justify-between items-center mb-4">
                                <p class="text-sm font-medium text-gray-900">Статус:</p>
                                <p class="text-sm text-gray-500 {{ user.status == 'active' ?
                                'text-green-600' : 'text-red-600' }}">
                                    {% for status in statuses %}
                                        {% if status.value == user.status %}
                                            {{ status.label }}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="flex justify-center">
                                <a href="/users/show/?id={{ user.id }}" class="bg-blue-500 text-blue-700
                                font-semibold text-white py-1 px-2 border border-blue-500
                                hover:border-transparent rounded-full my-5">
                                    Посмотреть
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="hidden sm:block">
                <!-- Для экранов sm и более широких отображаем таблицу -->
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Фото
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Имя
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Фамилия
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase
                        tracking-wider">Статус
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
                    </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                    {% for user in users %}
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {% if not user.photo %}
                                    <img class="photo__image" width="50" height="50" src="/src/images/orig.jpeg"
                                         alt="фото профиля"/>
                                {% else %}
                                    <img class="photo__image" width="50" height="50" src="/uploads/{{ user.photo }}"
                                         alt="фото профиля"/>
                                {% endif %}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <p class="text-sm font-semibold leading-6 text-gray-900">{{ user.first_name }}</p>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <p class="text-sm leading-5 text-gray-500">{{ user.last_name }}</p>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <p class="text-sm leading-5 text-gray-500 {{ user.status == 'active' ?
                                'text-green-600' : 'text-red-600' }}">
                                    {% for status in statuses %}
                                        {% if status.value == user.status %}
                                            {{ status.label }}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </td>
                            <td class="flex align-center py-6">
                                <a href="/users/show/?id={{ user.id }}" class="bg-transparent hover:bg-blue-500 text-blue-700
                                font-semibold hover:text-white py-1 px-2 border border-blue-500
                                hover:border-transparent rounded-full">
                                    Посмотреть
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}