{% extends "layouts/main.twig" %}

{% block stylesheets %}{% endblock %}
{% block title %}Пользователи{% endblock %}
{% block page %}Информация о пользователе <span class="uppercase"> {{ user.last_name }}</span>{% endblock %}

{% block content %}
    <div class="overflow-hidden bg-white shadow sm:rounded-lg mx-auto max-w-2xl">
        <form action="/profile/save" method="post">
            <div class="border-t border-gray-100">
                <dl class="divide-y divide-gray-100">
                    <div class="flex items-center px-4 py-6 grid grid-cols-2 gap-4 sm:px-6 sm:grid-cols-3">
                        <dt class="text-sm font-medium text-gray-900">Имя</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-0 ">
                            <p class="pl-1">{{ user.first_name|e }}</p>
                        </dd>
                    </div>
                    <div class="flex items-center px-4 py-6 grid grid-cols-2 gap-4 sm:px-6 sm:grid-cols-3">
                        <dt class="text-sm font-medium text-gray-900">Отчество</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                            <p class="pl-1">{{ user.last_name|e }}</p>
                        </dd>
                    </div>
                    <div class="flex items-center px-4 py-6 grid grid-cols-2 gap-4 sm:px-6 sm:grid-cols-3">
                        <dt class="text-sm font-medium text-gray-900">Email</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                            <p class="pl-1">{{ user.email|e }}</p>
                        </dd>
                    </div>
                    <div class="flex items-center px-4 py-6 grid grid-cols-2 gap-4 sm:px-6 sm:grid-cols-3">
                        <dt class="text-sm font-medium text-gray-900">Логин</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                            <p class="pl-1">{{ user.login|e }}</p>
                        </dd>
                    </div>
                    <div class="flex items-center px-4 py-6 grid grid-cols-2 gap-4 sm:px-6 sm:grid-cols-3">
                        <dt class="text-sm font-medium text-gray-900">Статус</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                            <p class="pl-1">
                                {% for status in statuses %}
                                    {% if status.value == user.status %}
                                        {{ status.label }}
                                    {% endif %}
                                {% endfor %}
                            </p>
                        </dd>
                    </div>
                    <div class="flex items-center px-4 py-6 grid grid-cols-2 gap-4 sm:px-6 sm:grid-cols-3">
                        <dt class="text-sm font-medium text-gray-900">Дата добавления</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ user.created_at|e }}</dd>
                    </div>
                    <div class="flex items-center px-4 py-6 grid grid-cols-2 gap-4 sm:px-6 sm:grid-cols-3">
                        <dt class="text-sm font-medium text-gray-900">Дата обновления</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ user.updated_at|e }}</dd>
                    </div>
                </dl>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}